{% load static %}
{% include "doctor_header.html" %}

  <!--================ Hero sm Banner start =================-->
  <section class="hero-banner hero-banner--sm">
    <div class="hero-banner__content text-center">
      <h1>Submit Prescriptions</h1>
      <nav aria-label="breadcrumb" class="banner-breadcrumb">

      </nav>
    </div>
  </section>
  <!--================ Hero sm Banner end =================-->



  <!-- ================ contact section start ================= -->
  <section class="section-margin--large">
    <div class="container">
      <div class="d-none d-sm-block mb-5 pb-4">

        <div style="color:red">{{msg}}</div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-5">
                <div class="form-group">
                <input type="number" class="form-control" placeholder="Appoitments Id" value="{{appoitments.id}}" name="appoitments" required readonly>
                </div>

                <div class="form-group">
                <input type="email" class="form-control" placeholder="Doctor Email" value="{{appoitments.doctor_email}}" name="doctor_email" required readonly>
                </div>

                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Customer Email" value="{{appoitments.customer_email}}" name="customer_email" required readonly>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="Title" required>
                </div>

                 <div class="form-group">
                    <input type="text" class="form-control" name="description" placeholder="Description" required>
                </div>

                <div class="form-group">
                    <input type="file" id="prescription_file" name="prescription_file" required>
                </div>


                <div class="form-group">
                 <button type="submit" class="btn btn-primary">Submit Prescriptions</button>
                  </div>
              </div>
            </div>
        </form>

      </div>
    </div>

  </section>
	<!-- ================ contact section end ================= -->
{% include "footer.html" %}



