{% load static %}
{%  include "admin_header.html" %}


  <!--================ Hero Banner start =================-->
  <section class="hero-banner">
  <div class="hero-banner__content text-center">
    <h1>Your Pet's Health and Happiness Are Our Top Priority</h1>
  </div>
</section>
  <!--================ Hero Banner end =================-->


  <!--================ Work Statics section start =================-->
<!--  <section>-->
<!--    <div class="container static__single-position">-->
<!--      <div class="row">-->
<!--        <div class="col-md-6 col-xl-3 mb-4 mb-xl-0">-->
<!--          <div class="card static__single">-->
<!--            <h3>35</h3>-->
<!--            <h4>Dedicated Lawyer</h4>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-md-6 col-xl-3 mb-4 mb-xl-0">-->
<!--          <div class="card static__single">-->
<!--            <h3>1526</h3>-->
<!--            <h4>Successful Cases</h4>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-md-6 col-xl-3 mb-4 mb-xl-0">-->
<!--          <div class="card static__single">-->
<!--            <h3>720</h3>-->
<!--            <h4>Satisfied Client</h4>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-md-6 col-xl-3 mb-4 mb-xl-0">-->
<!--          <div class="card static__single">-->
<!--            <h3>680</h3>-->
<!--            <h4>Personal Cases</h4>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
  <!--================ Work Statics section end =================-->

  <!--================ About section start =================-->
  <section class="d-lg-flex align-items-center section-margin--large">
    <div class="about__videoWrapper">
      <div class="about__video">
        <div class="about__video-image">
          <img class="card-img" src="{% static 'img/home/dabur3.jpg' %}" alt="">
        </div>
<!--        <div class="about__videoContent">-->
<!--          <a id="play-home-video" class="video-play-button" href="https://www.youtube.com/watch?v=vParh5wE-tM">-->
<!--            <span></span>-->
<!--          </a>-->
<!--          <h4>Watch our video</h4>-->
<!--        </div>-->
      </div>
    </div>
    <div class="container">
      <div class="about__content">
        <h3>We Properly Understand Your Purpose</h3>
        <p>The Petcare Communications System is a comprehensive platform designed to facilitate effective communication and coordination between pet owners</p>
      </div>
    </div>
  </section>
  <!--================ About section end =================-->


  <!--================ Subject section start =================-->
<section class="section-margin">
  <div class="container">
    <div class="section-intro text-center pb-65px">
      <h2>Our Practice Area</h2>
      <p>Our pet care practice offers a comprehensive range of services to ensure the well-being of your furry friends.</p>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
        <div class="card card-subject">
          <div class="card-subject__img">
            <img class="card-img  
 rounded-0" src="{% static 'img/home/dabur.jpg' %}" alt="Appointment Scheduling">
          </div>
          <div class="card-subject__body">
            <h3><a href="#">Appointment  
 Scheduling</a></h3>
            <p>Convenient online booking for various pet care services.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
        <div class="card card-subject">
          <div class="card-subject__img">
            <img class="card-img rounded-0" src="{% static 'img/home/dabur1.jpg' %}" alt="Medical Records Management">
          </div>
          <div class="card-subject__body">
            <h3><a href="#">Medical  
 Records Management</a></h3>
            <p>Securely manage and access your pet's medical history.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
        <div class="card card-subject">
          <div class="card-subject__img">
            <img class="card-img rounded-0" src="{% static 'img/home/dabur2.jpg' %}" alt="Emergency Contact Information">
          </div>
          <div class="card-subject__body">
            <h3><a href="#">Emergency  
 Contact Information</a></h3>
            <p>Ensure quick response in case of emergencies.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
        <div class="card card-subject">
          <div class="card-subject__img">
            <img class="card-img rounded-0" src="{% static 'img/home/dabur3.jpg' %}" alt="Pet Care Tips and Resources">
          </div>
          <div class="card-subject__body">
            <h3><a href="#">Pet  
 Care Tips and Resources</a></h3>
            <p>Get expert advice and personalized recommendations.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <section class="section-padding--smaller cta-wrapper">
  <div class="container">
    <div class="cta__content text-center">
      <h2>Schedule a Free Pet Consultation</h2>
      <p>Get expert advice and personalized recommendations for your pet's care.</p>
    </div>
  </div>
</section>
  <!--================ Cta section end =================-->


  <!--================ Blog section start =================-->
  <section class="section-margin">
    <div class="container">

    </div>
  </section>
  <!--================ Blog section end =================-->
{% include "footer.html" %}

