{% load static %}
{% include "header.html" %}

  <!--================ Hero sm Banner start =================-->      
  <section class="hero-banner hero-banner--sm">
    <div class="hero-banner__content text-center">
      <h1>Contact Us</h1>
      <nav aria-label="breadcrumb" class="banner-breadcrumb">

      </nav>
    </div>
  </section>
  <!--================ Hero sm Banner end =================-->


  
  <!-- ================ contact section start ================= -->
  <section class="section-margin--large">
    <div class="container">







        <div class="col-md-8 col-lg-9">
          <div style="color:red">{{msg}}</div>
          <form action="" class="form-contact contact_form" action="" method="post" id="contactForm" >
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-5">
                <div class="form-group">

                  <input class="form-control" name="name" id="name" type="text" placeholder="Enter Your Name" required>
                </div>
                <div class="form-group">
                  <input class="form-control" name="email" id="email" type="email" placeholder="Enter Email Address" required>
                </div>
                <div class="form-group">
                  <input class="form-control" name="subject" id="subject" type="text" placeholder="Enter Subject" required>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="form-group">
                    <textarea class="form-control different-control w-100" name="message" id="message" cols="30" rows="5" placeholder="Enter Message" required></textarea>
                </div>
              </div>
            </div>
            <div class="form-group text-center text-md-left mt-3">
              <button type="submit" class="button button-contactForm">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
	<!-- ================ contact section end ================= -->
{% include "footer.html" %}



