{% load static %}
{% include "customer_header.html" %}

  <!--================ Hero sm Banner start =================-->
  <section class="hero-banner hero-banner--sm">
    <div class="hero-banner__content text-center">
      <h1>Update Profile </h1>
      <nav aria-label="breadcrumb" class="banner-breadcrumb">

      </nav>
    </div>
  </section>
  <!--================ Hero sm Banner end =================-->



  <!-- ================ contact section start ================= -->
  <section class="section-margin--large">
    <div class="container">
      <div class="d-none d-sm-block mb-5 pb-4">

                  <div style="color:red">{{msg}}</div>
        <form method="post" action="{% url 'update_my_profile' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-5">
                 <div class="form-group">
                   Id
                <input type="number" class="form-control" placeholder="Id" name="id" value="{{users.id}}" required readonly>
                </div>

                <div class="form-group">
                  Email
                <input type="email" class="form-control" placeholder="Email" name="email" value="{{users.email}}" required readonly>
                </div>

                  <input type="hidden" class="form-control" placeholder="password" value="{{users.password}}" required readonly name="password">

                <div class="form-group">
                  Name
                  <input type="text" class="form-control" placeholder="Name" value="{{users.name}}" required name="name">
                </div>

                <div class="form-group">
                  Mobile
                  <input type="number" class="form-control" placeholder="Mobile" name="mobile" value="{{users.mobile}}" required>
                </div>

                <div class="form-group">
                  Address
                  <input type="text" class="form-control" placeholder="Address" name="address" value="{{users.address}}" required>
                </div>

                <div class="form-group">
                  Image
                  <input type="file" class="form-control" placeholder="Image" name="image" required>
                </div>


              <div class="form-group">
                <button type="submit" value="Update" class="button button-contactForm">Update</button>
              </div>

              </div>
            </div>
            </form>
        </div>
    </div>

  </section>
	<!-- ================ contact section end ================= -->
{% include "footer.html" %}



