
{% load static %}
{% include "customer_header.html" %}
<section class="hero-banner hero-banner--sm">
    <div class="hero-banner__content text-center">
      <h1>All Posts</h1>
      <nav aria-label="breadcrumb" class="banner-breadcrumb">

      </nav>
    </div>
  </section>




<div class="m-3">
<!--<table class="table table-bordered">-->
<!--    <thead>-->
<!--        <tr class="table-primary">-->
<!--            <th>Title</th>-->
<!--            <th>Description</th>-->
<!--            <th>Posted By</th>-->
<!--            <th>File</th>-->
<!--            <th>Date/Time</th>-->
<!--            <th>Likes</th>-->
<!--            <th>Comments</th>-->
<!--        </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    {% for post in posts %}-->
<!--        <tr>-->
<!--            <td>{{ post.title }}</td>-->
<!--            <td>{{ post.description }}</td>-->
<!--            <td>{{ post.email }}</td>-->
<!--            <td><img src ="{{post.pfile.url}}" height="100px" width="100px"></td>-->
<!--            <td>{{ post.date_time }}</td>-->
<!--            <td>-->
<!--                <span>{{ post.like_count }} {{ post.like_count|pluralize:"Like,Likes" }}</span>-->
<!--                {% if post.id in liked_posts %}-->
<!--                    <button disabled>Liked</button>-->
<!--                {% else %}-->
<!--                    <a href="{% url 'like_post' post.id %}">-->
<!--                        <button class="button button-contactForm">Likes</button>-->
<!--                    </a>-->
<!--                {% endif %}-->
<!--            </td>-->
<!--            <td><a href="{% url 'add_comments' id=post.id %}">Comments</a></td>-->
<!--        </tr>-->

<!--    {% endfor %}-->
<!--    </tbody>-->
<!--</table>-->
</div>
<br>
<section class="section-margin">
    <div class="container">
        <div class="row">
            {% for post in posts %}
                <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="card card-blog">
                        <img class="card-img rounded-0" src="{{ post.pfile.url }}" alt="{{ post.title }}" style="height: 200px; width: 100%;">
                        <div class="card-blog__body">
                            <h3>{{ post.title }}</h3>
                            <p>{{ post.description }}</p>
                            <ul class="card-blog__info">
                                <li><strong>Posted By:</strong> {{ post.email }}</li>
                                <li><strong>Date/Time:</strong> {{ post.date_time }}</li>
                            </ul>
                        </div>
                        <div class="card-blog__footer">
                            <div>
                                <!-- Likes Section -->
                                <span>{{ post.like_count }} {{ post.like_count|pluralize:"Like,Likes" }}</span>
                                {% if post.id in liked_posts %}
                                    Liked
                                {% else %}
                                    <a href="{% url 'like_post' post.id %}" style="color:red">Likes</a>
                                {% endif %}
                            </div>
                            <div>
                                <!-- Comments Link -->
                                <a href="{% url 'add_comments' id=post.id %}" style="color:red">Comments</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% include "footer.html" %}

