
{% load static %}
{% include "doctor_header.html" %}

   <section class="hero-banner hero-banner--sm">
    <div class="hero-banner__content text-center">
      <h1>View Quote </h1>
      <nav aria-label="breadcrumb" class="banner-breadcrumb">

      </nav>
    </div>
  </section>



<div class="m-3">
<table  class="table table-bordered">
    <thead>
       <tr>
           <th>Doctor Email</th>
           <th>Customer Email</th>
           <th>Title</th>
           <th>Description</th>
           <th>Date&Time</th>

       </tr>
    </thead>

    <tbody>
    {% for x in doctor %}
        <tr>
            <td>{{x.doctor_email}}</td>
            <td>{{x.customer_email}}</td>
            <td>{{x.title}}</td>
            <td>{{x.description}}</td>
            <td>{{x.date_time}}</td>



        </tr>
    {% endfor %}
    </tbody>


</table>
</div>








{% include "footer.html" %}