
{% load static %}
{% include "customer_header.html" %}
<section class="hero-banner hero-banner--sm">
    <div class="hero-banner__content text-center">
      <h1>My Pets Likes</h1>
      <nav aria-label="breadcrumb" class="banner-breadcrumb">

      </nav>
    </div>
  </section>




<div class="m-3">
<table  class="table table-bordered">
    <thead>
       <tr class="table-primary">
           <th>Id</th>

           <th>Email</th>
       </tr>
    </thead>
    <tbody>
    {% for x in likes %}
        <tr>
            <td>{{x.id}}</td>
            <td>{{x.customer_email}}</td>
            </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<br>
{% include "footer.html" %}


